<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Group 4: Assignment 1</title>
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #1d9efa;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="#">ECE1779 Group4 Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/query">Query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/keys">Keys</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/configurations">Configurations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistics">Statistics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Body -->
  <div class="container w-40 mx-auto">
    <div class="page-title my-5">
      <h1>Configurations</h1>
    </div>
    <div class="cached-keys">
      <h3>Cached Keys</h3>
      {% if cached_keys|length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(cached_keys|length) %}
          <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ cached_keys[i] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No cached keys</p>
      {% endif %}
    </div>
    <div class="cache-params">
      <h3>Mem-Cache Parameters</h3>
      <form action={{ host + "/api/update_cache_config" }} method="POST" id="update-config-form">
        <div class="row g-2 align-items-center my-3">
          <div class="col-md-3">
            <label for="cacheParamSize" class="col-form-label">Cache Size (MB)</label>
          </div>
          <div class="col-md-3">
            <input type="number" id="cacheParamSize" class="form-control" name="size" value={{ curr_cache_size }} min="0">
          </div>
        </div>
        <div class="row g-2 align-items-center my-3">
          <div class="col-md-3">
            <label for="cacheParamSize" class="col-form-label">Replacement Policy</label>
          </div>
          <div class="col-md-3">
            <select class="form-select" name="policy">
              <option value="LRU" {% if curr_policy == "LRU" %} selected="selected"{% endif %}>Least Recent Used</option>
              <option value="RANDOM" {% if curr_policy == "RANDOM" %} selected="selected"{% endif %}>Random</option>
        </select>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4">Update Configuration</button>
      </form>
    </div>
    <form action={{ host + "/api/clear_cache" }} method="POST" id="clean-cache-form">
      <button class="btn btn-outline-danger my-3">Clear the Cache</button>
    </form>
  </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modal-body"></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById("update-config-form").addEventListener("submit", function(event) {
        event.preventDefault();
        var data = this;
        fetch(data.getAttribute("action"), {
          method: data.getAttribute("method"),
          body: new FormData(data)
        })
        .then(response => response.json())
        .then(data => {
          var modal = document.getElementById("modal");
          var modalPopup = new bootstrap.Modal(modal, {});
          document.getElementById("modal-title").innerHTML = (data.success == "true") ? "Succeeded!" : "Failed"
          document.getElementById("modal-body").innerHTML = (data.success == "true") ? "Parameters updated. <br>Policy = " + data.policy + " Size = " + data.size + " MB" : JSON.stringify(data)
          modalPopup.show();
        })
        .catch(err => {
          console.log(err);
        });
      });
      document.getElementById("clean-cache-form").addEventListener("submit", function(event) {
        event.preventDefault();
        var data = this;
        fetch(data.getAttribute("action"), {
          method: data.getAttribute("method"),
          body: new FormData(data)
        })
        .then(response => response.json())
        .then(data => {
          var modal = document.getElementById("modal");
          var modalPopup = new bootstrap.Modal(modal, {});
          document.getElementById("modal-title").innerHTML = (data.success == "true") ? "Succeeded!" : "Failed"
          document.getElementById("modal-body").innerHTML = (data.success == "true") ? "Cache cleaned" : JSON.stringify(data)
          modalPopup.show();
        })
        .catch(err => {
          console.log(err);
        });
      });
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
</body>

</html>