<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Group 4: Assignment 2 - Manager</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #1d9efa;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="#">ECE1779 Group4 Assignment 2 - Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/configurations">Configurations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container w-40 mx-auto">
    <div class="page-title my-5">
      <h1>Statistics</h1>
    </div>
    <div class="container w-40 mx-auto">
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="node_nums"></canvas>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="hit_rates"></canvas>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="miss_rates"></canvas>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="item_nums"></canvas>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="item_sizes"></canvas>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-lg-8">
          <canvas id="request_nums"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
  <script>
    var nodeNumsData = {{ node_nums }};
    var hitRatesData = {{ hit_rates }};
    var missRatesData = {{ miss_rates }};
    var itemNumsData = {{ item_nums }};
    var itemSizesData = {{ item_sizes }};
    var requestNumsData = {{ requests_nums }};

    var nodeNumsCtx = document.getElementById('node_nums').getContext('2d');
    var hitRatesCtx = document.getElementById('hit_rates').getContext('2d');
    var missRatesCtx = document.getElementById('miss_rates').getContext('2d');
    var itemNumsCtx = document.getElementById('item_nums').getContext('2d');
    var itemSizesCtx = document.getElementById('item_sizes').getContext('2d');
    var requestNumsCtx = document.getElementById('request_nums').getContext('2d');

    // generate an array of time string of the past ten minues as the x-axis labels
    let timeArray = [];
    let currTime = new Date();
    currTime = new Date(Math.round(currTime.getTime() / 5000) * 5000);
    for (let i = 0; i < 30; i++) {
      let previousMinute = new Date(currTime - i * 60 * 1000);
      let timeString = previousMinute.toLocaleTimeString('en-US', {
        hour12: false
      }).slice(0, 8);
      timeArray.push(timeString);
    }
    timeArray.reverse();

    var options = {
      plugins: {
          legend: {
              labels: {
                  font: {
                      size: 20
                  }
              }
          }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
  };

    var nodeNumsChart = new Chart(nodeNumsCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Num of Memcache Nodes',
          data: nodeNumsData,
          borderColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgb(255, 99, 132)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });

    var hitRatesChart = new Chart(hitRatesCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Hit Rate',
          data: hitRatesData,
          borderColor: 'rgb(160, 132, 220)',
          backgroundColor: 'rgb(160, 132, 220)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });

    var missRatesChart = new Chart(missRatesCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Miss Rate',
          data: missRatesData,
          borderColor: 'rgb(245, 80, 80)',
          backgroundColor: 'rgb(245, 80, 80)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });

    var itemNumsChart = new Chart(itemNumsCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Num of Items in Cache',
          data: itemNumsData,
          borderColor: 'rgb(0, 51, 124)',
          backgroundColor: 'rgb(0, 51, 124)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });

    var itemSizesChart = new Chart(itemSizesCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Cache Size (MB)',
          data: itemSizesData,
          borderColor: 'rgb(147, 155, 98)',
          backgroundColor: 'rgb(147, 155, 98)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });

    var requestNumsChart = new Chart(requestNumsCtx, {
      type: 'line',
      data: {
        labels: timeArray,
        datasets: [{
          label: 'Num of Requests',
          data: requestNumsData,
          borderColor: 'rgb(235, 69, 95)',
          backgroundColor: 'rgb(235, 69, 95)',
          pointRadius: 0,
          pointBorderWidth: 0
        }]
      },
      options: options
    });
  </script>
</body>

</html>