<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    
    <div id="content"></div>
    <div id="profile-url" url="{{ url_for('profile') }}"></div>
    <div id="index-url" url="{{ url_for('index') }}"></div>
    <div id="profile-page-url" url="{{ url_for('profile_page') }}"></div>
    <div id="upload-url" url="{{ url_for('upload') }}"></div>
    <div id="delete-url" url="{{ url_for('del_image') }}"></div>
    <div id="like-url" url="{{ url_for('like') }}"></div>

    <script>
        var indexUrl = document.getElementById('index-url').getAttribute('url');
        var accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            // If there is no access token, redirect to the log in page
            window.location.href = indexUrl
            
        }
    </script>

    <form id="upload-form">
        <input type="file" name="image">
        <input type="text" name="description">
        <input type="submit" value="Upload">
    </form>

    <button id="logout-button">Log out</button>
    <div class="container mt-5">
        <div class="row" id="image-gallery">
            <!-- Images will be loaded here -->
        </div>
    </div>
    <script>
        const content = document.querySelector('#content');
        const logoutButton = document.querySelector('#logout-button');

        // Get the access token from local storage
        //const accessToken = localStorage.getItem('access_token');
        const url = document.getElementById('profile-url').getAttribute('url');
        
        const profilePage = document.getElementById('profile-page-url').getAttribute('url');
        const uploadUrl = document.getElementById('upload-url').getAttribute('url');
        const deleteUrl = document.getElementById('delete-url').getAttribute('url');
        const likeUrl = document.getElementById('like-url').getAttribute('url');

        
        var username = '';
        // Make an API request using the access token
        fetch(url, {
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
        .then(response => response.json())
        .then(data => {

            // Display the user's name if the request was successful
            if (data.username) {
                username = data.username;
                content.textContent = `Logged in as ${data.username}`;
                var origin = window.location.origin
    
                var imageApiUrl = origin + indexUrl + 'api/images/'+username;
                console.log(imageApiUrl)
                const imageGallery = document.getElementById('image-gallery');

                // Replace this URL with the actual endpoint that returns the image URLs
                
                fetch(imageApiUrl)
                    .then((response) => response.json())
                    .then((data) => {
                        data = data.images;
                        console.log(data)
                        data.slice(0, 10).forEach((image) => {
                            var time = image.time;
                            var filename = image.filename;

                            const col = document.createElement('div');
                            col.classList.add('col-md-4', 'mb-4');
                            const img = document.createElement('img');
                            img.src = image.image;
                            img.alt = image.description;
                            img.classList.add('img-thumbnail');
                            // show image description and likes number
                            const p = document.createElement('p');
                            p.textContent = image.description + ' ' + image.likes;

                            // add a button to like the image and a button to delete the image
                            const likeButton = document.createElement('button');
                            likeButton.textContent = 'Like';
                            likeButton.classList.add('btn', 'btn-primary', 'btn-sm', 'like-button');
                            const delButton = document.createElement('button');
                            delButton.textContent = 'Delete';
                            delButton.classList.add('btn', 'btn-primary', 'btn-sm', 'del-button');

                            var options_like = {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    'username': username,
                                    'time': time
                                })
                            };
                            likeButton.addEventListener('click', () => {
                                // Make an API POST request to like the image 
                                fetch(likeUrl, options=options_like)
                                .then((response) => response.json())
                                .then((data) => {
                                    // Update the number of likes
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                            });
                            
                            var options_del = {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Authorization': `Bearer ${accessToken}`
                                },
                                body: JSON.stringify({
                                    'username': username,
                                    'time': time,
                                    'filename': filename
                                })
                            };
                            delButton.addEventListener('click', () => {
                                // Make an API POST request to delete the image 
                                fetch(deleteUrl, options=options_del)
                                .then((response) => response.json())
                                .then((data) => {
                                    // redirect to the profile page
                                    window.location.href = profilePage;
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                            });

                            col.appendChild(delButton);
                            col.appendChild(likeButton);
                            col.appendChild(p);
                            col.appendChild(img);
                            imageGallery.appendChild(col);
                        });
                    })
                    .catch((error) => {
                        console.error('Error fetching images:', error);
                    });
            }
            else {
                // Redirect to the log in page if the user is not authorized
                // Remove the useless access token from local storage
                localStorage.removeItem('access_token');
                window.location.href = indexUrl;
            }
        })
        .catch(error => {
            content.textContent = 'You are not authorized to access this page. Please log in.';
        });

        const form = document.querySelector('#upload-form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            const options = {
                method: 'POST',
                body: formData
            };
            fetch(uploadUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = profilePage
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            }
        );
            
        

        // Add a click event listener to the log out button
        logoutButton.addEventListener('click', () => {
            // Remove the access token from local storage
            localStorage.removeItem('access_token');

            // Redirect to the log in page
            window.location.href = indexUrl;
        });
    </script>
</body>
</html>
