<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Group 4: Assignment 2 - Manager</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #1d9efa;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="#">ECE1779 Group4 Assignment 2 - Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/configurations">Configurations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Body -->
  <div class="container w-40 mx-auto">
    <div class="page-title my-5">
      <h1>Configurations</h1>
    </div>
    <!-- Cache Configurations -->
    <div class="cache-params my-5">
      <h2>Cache Parameters</h2>
      <form action={{ host + "/api/configure_cache" }} method="POST" id="configure-cache-form">
        <div class="row g-2 align-items-center my-3">
          <div class="col-md-3">
            <label for="cacheSize" class="col-form-label">Cache Size (MB)</label>
          </div>
          <div class="col-md-3">
            <input type="number" id="cacheSize" class="form-control" name="cacheSize" value={{ curr_cache_size }}
              min="0">
          </div>
        </div>
        <div class="row g-2 align-items-center my-3">
          <div class="col-md-3">
            <label for="policy" class="col-form-label">Replacement Policy</label>
          </div>
          <div class="col-md-3">
            <select class="form-select" name="policy">
              <option value="LRU" {% if curr_policy == "LRU" %} selected="selected" {% endif %}>Least Recent Used
              </option>
              <option value="RR" {% if curr_policy == "RR" %} selected="selected" {% endif %}>Random
              </option>
            </select>
          </div>
        </div>
        <div class="row g-2 align-items-center my-3">
          <div class="col-md-3">
            <label for="mode" class="col-form-label">Resizing Mode</label>
          </div>
          <div class="col-md-3">
            <select class="form-select" name="mode", id="mode">
              <option value="manual" {% if curr_pool_mode == "manual" %} selected="selected" {% endif %}>Manual</option>
              <option value="auto" {% if curr_pool_mode == "auto" %} selected="selected" {% endif %}>Automatic
              </option>
            </select>
          </div>
          <!-- Additional configurations when the resizing mode is "Automatic" -->
          <div id="pool-manual-params-form">
            <div class="row g-2 align-items-center my-3">
              <div class="col-md-3">
                <label for="numNodes" class="col-form-label">Number of Nodes</label>
              </div>
              <div class="col-md-3">
                <input type="number" id="numNodes" class="form-control" name="numNodes" value={{ curr_pool_num_nodes }}
                  min="0">
              </div>
            </div>
          </div>
          <!-- Additional configurations when the resizing mode is "Automatic" -->
          <div id="pool-auto-params-form">
            <div class="row g-2 align-items-center my-3">
              <div class="col-md-3">
                <label for="maxMiss" class="col-form-label">Max Miss Rate Threshold</label>
              </div>
              <div class="col-md-3">
                <input type="number" id="maxMiss" class="form-control" name="maxMiss"
                  value={{ curr_pool_max_miss_rate }} min="0" max="1" step="0.01">
              </div>
            </div>
            <div class="row g-2 align-items-center my-3">
              <div class="col-md-3">
                <label for="minMiss" class="col-form-label">Min Miss Rate Threshold</label>
              </div>
              <div class="col-md-3">
                <input type="number" id="minMiss" class="form-control" name="minMiss"
                  value={{ curr_pool_min_miss_rate }} min="0" max="1" step="0.01">
              </div>
            </div>
            <div class="row g-2 align-items-center my-3">
              <div class="col-md-3">
                <label for="expRatio" class="col-form-label">Expand Ratio</label>
              </div>
              <div class="col-md-3">
                <input type="number" id="expRatio" class="form-control" name="expRatio"
                  value={{ curr_pool_expand_ratio }} min="1">
              </div>
            </div>
            <div class="row g-2 align-items-center my-3">
              <div class="col-md-3">
                <label for="shrinkRatio" class="col-form-label">Shrink Ratio</label>
              </div>
              <div class="col-md-3">
                <input type="number" id="shrinkRatio" class="form-control" name="shrinkRatio"
                  value={{ curr_pool_shrink_ratio }} min="0" max="1" step="0.01">
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4">Update Configurations</button>
      </form>
    </div>
    <!-- Reset Options -->
    <div class="reset-options my-5">
      <h2>Reset Options</h2>
      <form action={{ host + "/api/delete_all" }} method="POST" id="delete-all-form">
        <button class="btn btn-outline-danger my-3">Delete All Application Data</button>
      </form>
      <form action={{ host + "/api/clear_cache" }} method="POST" id="clean-cache-form">
        <button class="btn btn-outline-danger my-3">Clear the Cache</button>
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modal-body"></p>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Event listener to hide the additional configurations when the resizing mode is "Manual"
    const showPoolAdditionalParams = () => {
      var poolManualParamsForm = document.getElementById("pool-manual-params-form");
      var poolAutoParamsForm = document.getElementById("pool-auto-params-form");
      if (document.getElementById("mode").value == "manual") {
        poolManualParamsForm.style.display = "block";
        poolAutoParamsForm.style.display = "none";
      } else {
        poolManualParamsForm.style.display = "none";
        poolAutoParamsForm.style.display = "block";
      }
    }
    showPoolAdditionalParams();
    document.getElementById("mode").addEventListener("change", function (event) {
      showPoolAdditionalParams();
    });

    // Function to show the request result in a modal
    const successMessage = (id, data) => {
      switch (id) {
        case "configure-cache-form":
          return "Successfully updated the cache configurations</br>" + "</br>Cache Size = " + data.cacheSize + "</br>Mode = " + data.mode + "</br>Num of Nodes= " + data.numNodes + "</br>Policy = " + data.policy;
        case "delete-all-form":
          return "Successfully deleted all the data";
        case "clean-cache-form":
          return "Successfully cleared the cache";
        default:
          return "Successfully updated";
      }
    }
    const showResult = (id, data) => {
      var modal = document.getElementById("modal");
      var modalPopup = new bootstrap.Modal(modal, {});
      document.getElementById("modal-title").innerHTML = (data.success == "true") ? "Succeeded" : "Failed"
      document.getElementById("modal-body").innerHTML = (data.success == "true") ? successMessage(id, data) : JSON.stringify(data);
      modalPopup.show();
    }

    // Send request to update cache configurations
    document.getElementById("configure-cache-form").addEventListener("submit", function (event) {
      event.preventDefault();
      var data = this;
      var formData = new FormData(data);
      fetch(data.getAttribute("action") + "?" + new URLSearchParams(formData), {
          method: data.getAttribute("method"),
        })
        .then(response => response.json())
        .then(data => {
          showResult("configure-cache-form", data);
        })
        .catch(err => {
          console.log(JSON.stringify(err));
        });
    });

    document.getElementById("delete-all-form").addEventListener("submit", function (event) {
      event.preventDefault();
      var data = this;
      fetch(data.getAttribute("action"), {
          method: data.getAttribute("method"),
          body: new FormData(data)
        })
        .then(response => response.json())
        .then(data => {
          showResult("delete-all-form", data);
        })
        .catch(err => {
          console.log(JSON.stringify(err));
        });
    });

    document.getElementById("clean-cache-form").addEventListener("submit", function (event) {
      event.preventDefault();
      var data = this;
      fetch(data.getAttribute("action"), {
          method: data.getAttribute("method"),
          body: new FormData(data)
        })
        .then(response => response.json())
        .then(data => {
          showResult("clean-cache-form", data);
        })
        .catch(err => {
          console.log(JSON.stringify(err));
        });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
</body>

</html>